*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.first-div {
    height: 100vh;
}

.second-div {
    width: 90vw;
    margin: 0 auto;
}

.logo-name span {
    font-size: 2em;
}

.logo-name {
    font-size: 1.75em;
    margin-left: -1.35rem;
    color: black;
}


.logo {
    font-size: 1.75em;
}

.tab-element li a {
    padding: 10px;
    color: black;
}

.tabs {
    font-weight: 500;
    font-size: 1.25em;
}

.tabs:hover {
    border-bottom: 2px solid #111315;
    font-weight: bold;
    transition: a 0.8s;
    color: #090518;
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 0 1rem;
    padding-bottom: 8rem;
    margin: 4rem auto;
}

.section1-left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

.section1-left .name {
    position: relative;
}

.name {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
    color: black;
}

.name-role {
    font-size: 35px;
    line-height: 45px;
}

.role {
    font-weight: 800;
    color: #090518;
}

.name.role:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    border-left: 3px solid black;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.section1-right {
    position: relative;

}

#btv {
    width: 100px;
}

.absolute {
    position: absolute;
}

.user-img {
    padding: 2.5rem;
    transform: img 1s;
    border-radius: 200px;
    animation: scaleImage 5s linear infinite;
}

.user-img img {
    width: 21em;
    height: 22em;
    z-index: -1;
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(0.99);
    }
}

.icon-dots {
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation: dot-anim 5s infinite;
}

@keyframes dot-anim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.icon-cube {
    z-index: 1;
    top: -0.8em;
    right: 1em;
    animation: cube-anim 5s infinite;
}

@keyframes cube-anim {
    0% {
        transform: translateY(0px) rotateY(0deg);
    }

    50% {
        transform: translateY(-12px) rotateY(180deg);
    }

    100% {
        transform: translateY(0px) rotateY(360deg);
    }
}

.icon-circle {
    z-index: 1;
    bottom: 0;
    left: 0;
    animation: circle-anim 5s infinite;
}

@keyframes circle-anim {
    50% {
        bottom: 10%;
        left: 5%;
    }
}

.icon-plus {
    z-index: 1;
    bottom: -1rem;
    left: 0;
    animation: plus-anim 5s infinite;
}

@keyframes plus-anim {
    50% {
        bottom: 10%;
        left: 5%;
    }
}



.third-div {
    background-color: #ffffff;
    margin: 0 auto;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 4rem 2rem;
    color: #090518;
}

.about {
    width: 90vw;
    width: 100%;
    flex-direction: column;
    flex: 1 1 0%;
    color: #090518;

}

.about-head {
    text-transform: capitalize;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.about-head span {
    color: #099ce0;
}

.about-context {
    width: 80%;
    margin: 2rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about img {
    background-color: #b5e6db;
    border-radius: 100%;
}

.about-txt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.about-txt h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

.about-txt p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;
    color: #090518;
    font-weight: 600;
}

#cvbtn {
    background-color: transparent;
    margin: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 10px;
}

#cvbtn:hover {
    background-color: #099ce0;
    color: white;

}

/*skills*/
.skills {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.skill-icon {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.skill-icon img {
    overflow: hidden;
    transition: all ease 1s;
    padding: 1.5rem;
    scale: 1.3;

}

.skill-icon:hover img {
    scale: 1.5;
}


/*project lists*/
.project {
    background-color: ghostwhite;
    height: fit-content;
    margin: 0 auto;
    padding: 4rem 2rem;
    /* color: white; */
}

.row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.feature-box {
    position: relative;
    width: 300px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1rem -0.9rem rgba(0, 0, 0, 0.23);

}

.feature-box:hover {
    box-shadow: 10px 10px 30px rgb(0, 0, 0), -10px -10px 30px rgb(0, 0, 0);
}

.bg {
    top: 5px;
    left: 5px;
    width: fit-content;
    z-index: 2;
    backdrop-filter: blur(54px);
    border-radius: 15px;
    text-align: center;
}

.Pimg {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    border: 1px solid black;
}

.Ph3 {
    color: #111315;
    padding: 5px;
    font-weight: 900;


}

.Ph2 {
    font-size: 2.75rem;
    font-weight: 800;
    padding: 10px;
    text-transform: capitalize;
}


.Pc {
    padding-left: 5px;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1.09);
    }
}


/*footer*/
footer {
    background-color: #8ebbff;
    color: #000000;
    text-align: center;
    padding: 60px 0;

}

.footer-1 a {
    color: #ffffff;
}

.footer-box {
    background-color: #000000;
    color: #ffffff;

    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 250px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.feedback {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

textarea {
    display: block;
    margin-bottom: 8px;
    font-size: medium;
}

input,
textarea {
    color: #000000;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5%;
    font-size: medium;
}

input[type="submit"] {
    background-color: transparent;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    margin: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Firefox */
}

.contact {
    margin-top: 0;
}


.end {
    padding: 50px;
    display: flex;
    justify-content: right;
}

.end-1 {

    /* flex: 0 1 100px; */
    

}




.extra {
    color: #099ce0;
}

.center-main {
    text-align: center;
}



@media (max-width:1300px) {
    .tab-element li {
        padding: 0;
        text-align: center;
    }

    .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: -1rem;
        padding-bottom: 3rem;
    }

    .button {
        margin: 0 auto;
    }

    .section1-right {
        scale: 0.7;
    }

    .me-role span {
        display: inline-block;
    }

    .row {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .feature-box {
        width: 300px;
        height: 380px;
        padding: auto;
        /* margin: 8%; */
        flex-direction: row;

    }

    .Pimg {
        width: 280px;
    }

    .Ph3 {
        padding: 5px;
        font-weight: 500;

    }

    .Pc {
        padding-left: 5px;
    }

    .APara {
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: justify;
        margin-top: 20px;
    }


    #cvbtn {
        background-color: transparent;
        margin: 10px;
        font-weight: 200;
        padding: 10px;
        border-radius: 05px;
        width: fit-content;
    }
}

/* About Section */
@media (max-width:1300px) {
    .third-div {
        padding: 0;
    }

    .about-head {
        padding: 0;
    }

    .about-txt p {
        font-size: 1.3rem;
        line-height: 1.2;
    }

}