*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #fefefe;
    color: #000;
}

body {}

.fa-bars {
    /* color: #e4f9f4; */
    font-size: 28px;
}

.first-div {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.second-div {
    /* width: 1300px; */
    /* width: 80.125vw; */
    width: 90vw;
    /* max-width: 1140px; */
    margin: 0 auto;
    /* position: fixed;
    top: 0%; */
}

.logo-name {
    color: #000000;
}

.logo-name:hover {
    /* color: #a23e3e; */
}

.tab-element li {
    padding: 15px;
}

.tabs {
    font-weight: 500;
    font-size: 1.25em;
    padding: 100px;
    color: #000000;

}

.tabs:hover {
    border-bottom: 3px solid black;
    font-weight: bold;
    color: #000000;
    transition: a 0.8s;
}


.top {
    margin-top: 55px;
    /* background-color: #EAF6F5; */
    text-align: center;
    /* color: #e4f9f4; */
    font-family: 'Courier New', Courier, monospace;
    /* height : 200px;
    width  : 200px; */
    /* border: solid 10px; */
    padding: 20px;
}

.myPic {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4% 30%;

}

#para {
    font-weight: 600;
    text-align: justify;
    padding: 20px;
    margin-top: 5px;
}


#projects {
    background-color: #000000;
}

.name {
    position: relative;
}

.name {
    margin-top: 10px;
    font-size: 1.25em;
    /* color: #e4f9f4; */
    font-weight: 800;
}

.name-role {
    font-size: 1.25em;
    line-height: 35px;

}

.name.role:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    /* color: #e4f9f4; */
    font-weight: 800;
    border-left: 5px solid #000;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}